<%- include('../../shared/includes/head.ejs', { title: 'Your Cart' }) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-management.js" defer></script>
</head>
<body>
  <%-include('../../shared/includes/header.ejs') %>
  <main>
    <% if (locals.cart.items.length < 1) { %>
      <h1>Your Cart is empty.</h1>
      <p><a href="/products">Continue shopping.</a></p>
    <% } else { %>
      <h1>Your Cart</h1>
      <ul id="cart-items">
        <% for (const cartItem of locals.cart.items) { %>
          <li>
            <%-include('includes/cart-item', {item: cartItem}) %>
          </li>
        <% } %>
      </ul>
      <section id="cart-total">
        <p>Total: $<span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2)%></span></p>
        <% if (locals.isAuth) { %>
          <form action="/orders" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken%>" />
            <button class="btn">Buy Products</button>
          </form>
        <% } else { %>
          <p id="cart-total-fallback">Log in to proceed and purchase the items.</p>
        <% } %>
      </section>
    <% } %>
  </main>
</body>
</html>
