<%- include('includes/head.ejs', { title: 'Signup' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%-include('includes/header.ejs') %>
  <main>
    <h1>Create New Account</h1>
    <% if(inputData.hasError) { %>
      <p id="input-error"><%= inputData.message %></p>
    <% } %>
    <form id="auth-form" method="post" action="/signup" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken%>" />
      <div class="form-control">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" value="<%= inputData.email %>" required />
      </div>
      <div class="form-control">
        <label for="confirmEmail">Confirm E-mail</label>
      <input type="email" name="confirmEmail" id="confirmEmail" value="<%= inputData.confirmEmail %>" required />
      </div>
      <div class="form-control border-bottom">
        <label for="password">Password</label>
      <input type="password" name="password" id="password" value="<%= inputData.password %>" required />
      </div>
      <div class="form-control">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="name" value="<%= inputData.name %>" required />
      </div>
      <div class="form-control">
        <label for="address">Street</label>
        <input type="text" name="address" id="address" value="<%= inputData.address %>" required />
      </div>
      <div class="form-control">
        <label for="postalCode">Postal Code</label>
        <input type="text" name="postalCode" id="postalCode" value="<%= inputData.postalCode %>"required />
      </div>
      <div class="form-control">
        <label for="city">City</label>
        <input type="text" name="city" id="city" value="<%= inputData.city %>"required />
      </div>
      <button class="btn">Create Account</button>
      <div id="auth-alternative">
        <a href="/login" class="btn btn-alt">Login instead</a>
      </div>
    </form>
  </main>
</body>
