<%- include('includes/head.ejs', { title: 'Welcome' }) %>
<link rel="stylesheet" href="/styles/product-list.css">
</head>
<body>
  <%-include('includes/header.ejs') %>
  <main>
    <div id="product">
      <h1><%= product.name %></h1>
      <img src="/images/<%= product.imagePath %>.jpg" alt="<%= product.alt %>" />
      <form action="/products/<%= product.id %>" method="GET">
        <button class="btn">Add to Cart</button>
      </form>
    </div>
    <div id="product-info">
      <p><%= product.summary %></p>
      <p><%= product.description %></p>
    </div>
  </main>
</body>
</html>
