<%- include('../includes/head.ejs', { title: 'Your Cart' }) %>
<meta name="csrf-token", content="<%= csrfToken%>">
<link rel="stylesheet" href="/styles/customer/cart.css">
<script src="/scripts/cart.js" defer></script>
</head>
<body>
  <%-include('../includes/header.ejs') %>
  <main>
    <h1>Your Cart</h1>
    <section id="cart">
      <% for (const item of cartData.items) { %>
        <div class="cart-item">
          <div class="cart-item-info">
            <p id="product-name"><%= item.name %></p>
            <p><span id="product-total-price-<%= item.id %>"><%= item.formattedTotalPrice %></span> <em class="unit-price">(<%= item.formattedPrice%>)</em></p>
          </div>
          <div class="cart-item-actions">
            <input type="number" id="product-quantity-<%= item.id%>" value="<%= item.quantity %>">
            <button data-productid="<%= item.id %>" class="btn btn-secondary update-btn">Update</button>
          </div>
        </div>
      <% } %>
    </section>
    <section id="totals">
      <p>Total: <span id="cart-total-price"><%= cartData.totalPrice%></span></p>
      <% if (locals.isAuth) { %>
        <form action="/cart/checkout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn btn-primary">Buy Products</button>
        </form>
      <% } else { %>
        <a href="/login">Log in to proceed and purchase the items.</a>
      <% } %>
    </section>
  </main>
</body>
</html>
