<%- include('../shared/includes/head.ejs', { title: 'Order Entered Successfully' }) %>
<link rel="stylesheet" href="/styles/order.css">
<meta name="csrf-token", content="<%= csrfToken%>">
</head>
<body>
  <%-include('../shared/includes/header.ejs') %>
  <main>
    <h1>Order Placed Successfully!</h1>
    <h2>Order Summary</h2>
    <section class="order">
      <div class="order-summary">
        <p><span class="order-price" ><%= order.formattedTotalPrice %></span> - <span class="order-date"><%= order.formattedDate %></span></p>
        <span class="order-status"><%= order.status %></span>
      </div>
      <div class="order-detail">
        <ul>
          <% for(const item of order.items) { %>
            <li>
              <span class="item-name"><%= item.name %></span>
              -
              <span class="item-total-price"><%= item.formattedTotalPrice%></span>
              <span class="item-unit-price">(<%= item.formattedPrice %> x <%= item.quantity %>)</span>
            </li>
          <% } %>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>
