<%- include('../shared/includes/head.ejs', { title: 'Your Cart' }) %>
<meta name="csrf-token", content="<%= csrfToken%>">
<link rel="stylesheet" href="/styles/customer/order.css">
<script src="/scripts/cart.js" defer></script>
</head>
<body>
  <%-include('../shared/includes/header.ejs') %>
  <main>
    <% if (orders.length < 1) { %>
      <h1>No Orders Placed.</h1>
      <p><a href="/products">Continue Shopping</a> or <a href="/cart">Continue to checkout.</a></p>
    <% } else { %>
      <section id="orders">
        <h1>All Your Orders</h1>
        <% for (const order of orders) { %>
          <section class="order">
            <div class="order-summary">
              <p><span class="order-price" ><%= order.formattedTotalPrice %></span> - <span class="order-date"><%= order.formattedDate %></span></p>
              <span class="order-status"><%= order.status %></span>
            </div>
            <div class="order-detail">
              <ul>
                <% for(const item of order.items) { %>
                  <li>
                    <span class="item-name"><%= item.name %></span>
                    -
                    <span class="item-total-price"><%= item.formattedTotalPrice%></span>
                    <span class="item-unit-price">(<%= item.formattedPrice %> x <%= item.quantity %>)</span>
                  </li>
                <% } %>
              </ul>
            </div>
          </section>
        <% } %>
      </section>
    <% } %>
  </main>
</body>
</html>
