<%- include('../shared/includes/head.ejs', { title: 'Welcome' }) %>
<link rel="stylesheet" href="/styles/customer/product-detail.css">
<script src="/scripts/single-product.js" defer></script>
<meta name="csrf-token", content="<%= csrfToken%>">
</head>
<body>
  <%-include('../shared/includes/header.ejs') %>
  <main>
    <div id="product-item">
      <img src="<%= product.imagePath%>" alt="<%= product.alt %>" />
      <div id="product-info">
        <h1 data-productid="<%= product.id %>" id="product-name"><%= product.name %></h1>
        <p class="product-price"><%= product.formattedPrice%></p>
        <button id="add-to-cart-btn" class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
    <div id="product-detail">
      <p><%= product.summary %></p>
      <p><%= product.description %></p>
    </div>
  </main>
</body>
</html>
