<%- include('../../shared/includes/head.ejs', { title: 'Login' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%-include("../../shared/includes/header.ejs") %>
  <main>
    <h1>Login</h1>
    <%-include("../../shared/includes/input-error.ejs", { hasError: inputData.hasError, message: inputData.message }) %>
    <form action="/login" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken%>" />
      <p>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" value="<%= inputData.email %>" required />
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="<%= inputData.password %>" minlength="6" required />
      </p>
      <button class="btn">Login</button>
      <p id="swith-form">
        <a href="/signup">Create a new user.</a>
      </p>
    </form>
  </main>
</body>
