<%- include('../../shared/includes/head.ejs', { title: 'Welcome' }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
  <%-include('../../shared/includes/header.ejs') %>
  <main id="product-details">
    <header>
      <img src="<%= product.imageUrl%>" alt="<%= product.title %>" />
      <div id="product-info">
        <h1><%= product.title%></h1>
        <p><%= product.formattedPrice%></p>
        <button data-csrf="<%= locals.csrfToken%>" data-productid="<%= product.id %>" class="btn">Add to Cart</button>
      </div>
    </header>
    <p id="product-description"><%= product.description %></p>
  </main>
</body>
</html>
