<%- include('includes/head.ejs', { title: 'Blog Post Detail' }) %>
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/admin.css">
</head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <section>
        <% if(inputData.hasError) { %>
          <p id="input-error"><%= inputData.message %></p>
        <% } %>
        <form action="/admin/:id/posts" data-postid="<%= post._id%>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-control">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Blog Post Title" value="<%= inputData.title%>" required />
          </div>
          <div class="form-control">
            <label for="content">Content</label>
            <textarea name="content" id="content" placeholder="Blog Post Content" cols="30" rows="10" required><%= inputData.content %></textarea>
          </div>
          <button class="btn">Save</button>
        </form>
    </main>
  </body>
</html>
